:root {
  --main-bg-color: #2c77da;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;

}
body{

    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
      font-size: 1.5rem ;
}
.active{
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
     border-bottom: #ffffff 1px solid;
    width: max-content;
}
.inactive{
    color:var(--main-bg-color);
     border-top: #ffffff 1px solid;
 border-bottom: #ffffff 1px solid;

}
header{
    display: flex;
    justify-content: space-between;
    background-color:var(--main-bg-color);
    color: #fff;
   height: 5vh ;
    width: 100%;
    font-weight: 600;
}

.logout a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.logout i{
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.logout:hover{
    color: rgb(132, 71, 71);

}
.profile_image i{
    margin-bottom: 12%;
    font-size: 6rem ;
  background-color:white;
  padding: 10%;
  border-radius: 1rem;
}
.profile{
    color:var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        padding: 1%;
  border-bottom: #ffffff solid 0.1rem ;  
}
.sidebar_name{
    color:#2c82f3;
    font-size: 1rem;
font-weight: 600;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    font-size: 1rem;
    background-color: #221818;
    color:var( --secondary-text-color) ;
   width: 15%;
    border-right: #ffffff solid 0.1rem;
    overflow: hidden;
    height: 95vh;
    position: sticky;
    top: 0;
     overflow-y: scroll;
}
main{
    display: flex;
}
.sidebar_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: #fff;
}
ul{
    color: #fff;
    list-style: none;
 padding-inline-start: 0px;
 margin: 0px;
}

ul li a{
 display: flex;
 flex-direction: column;
    padding: 20px 5px;
    text-decoration: none;
   
}
ul li ul.dropdown li{

    display: block;
 
}
ul li ul.dropdown1{
    padding-left: 30px;
    display: none;
    background-color: #313131;
}
ul li ul.dropdown2{
        padding-left: 30px;
    display: none;
      background-color: #313131;
}
.logout2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.logouut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.logouut a{
    text-decoration: none;
    color:   #fff;
    padding:1rem 0px;
}
    .dash img{
       width: 40vw;
       height: 40vh;
    }
.dashboard{
         display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto); 
  gap: 10px;
}
#home{
    border-bottom: #ffffff 1px solid;
    color:var(--main-bg-color);
}
@media screen and (max-width: 600px) and (min-width: 450px) {
     .dash img{
       width: 60vw;
       height: 40vh;
    }
   .sidebar{
   overflow-y: scroll;
    height: 100vh;
    width: 30%;
    font-size: 1.5rem;
    }
    .sidebar_name{
    font-size: 0.5rem;
font-weight: 400;
}
.profile_image i{
    margin-bottom: 12%;
    font-size: 5rem ;}

      ul li a{
    padding: 20px 15px; 
}
    .dashboard{
         display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto); 
  gap: 10px;
}
   }

@media screen and (max-width: 450px) {
   .dash img{
       width: 60vw;
       height: 40vh;
    }
    header{
    font-size: 1rem;
   }
    .sidebar{
  overflow-y: scroll;
    height: 100vh;
    width: 25%;
    font-size: 1rem;
    }
    .sidebar_name{
    font-size: 0.5rem;
font-weight: 400;
}
.profile_image i{
    margin-bottom: 12%;
    font-size: 5rem ;}

      ul li a{
    padding: 20px 15px; 
}
    .dashboard{
         display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto); 
  gap: 10px;
}ul li ul.dropdown1{
    padding-left: 10px;
    display: none;
}
ul li ul.dropdown2{
        padding-left: 10px;
    display: none;
}
   }
 
@media screen and (max-width: 1450px) and (min-width: 600px){
     .dash img{
       width: 60vw;
       height: 40vh;
    }
   header{
    font-size: 1.5rem;
   }
    .sidebar{
  overflow-y: scroll;
    height: 100vh;
    width: 30%;
    font-size: 1rem;
    }
    .sidebar_name{
    font-size: 1.5rem;
font-weight: 400;
}
.profile_image i{
    margin-bottom: 12%;
    font-size: 9rem ;}

      ul li a{
    padding: 20px 15px; 
}
    .dashboard{
         display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto); 
  gap: 10px;
}
   }
   


 
